@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --primary-color: #eb90cf;
    --white-color: #fafafa;
    --black-color: #030303;
}

* {
    padding: 0;
    margin: 0;
}

img {
    image-rendering: pixelated;
}

body {
    background-color: #ffe2f6;
}

header {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

header .tulip {
    width: 50px;
}

header .judul {
    font-family: 'Press Start 2P';
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
    -webkit-text-stroke: 1px #c45698;
}

main {
    position: relative;
    height: calc(100vh - 100px);
    overflow: hidden;
    position: relative;
}

main .jihan {
    width: 250px;
    height: 250px;
    opacity: 0.5;
    filter: blur(1px);
    image-rendering: crisp-edges;
    border-radius: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 6px solid #c45698a1; */
    
    transition: 0.3s;
}

main .jihan:hover {
    opacity: 1;
    box-shadow: 0 0.5rem 1rem 5px #9c447946;
    filter: blur(0);
}

.bola-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.impact {
    width: 50px;
    height: 50px;
}

.bola-bola-ubi {
    width: 100%;
    height: 100%;
    display: block;

    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}


/* COLLISION */

.hit-left {
    transform-origin: left center;
    animation: hit-horizontal 0.22s ease-out;
}

.hit-right {
    transform-origin: right center;
    animation: hit-horizontal 0.22s ease-out;
}

.hit-top {
    transform-origin: center top;
    animation: hit-vertical 0.22s ease-out;
}

.hit-bottom {
    transform-origin: center bottom;
    animation: hit-vertical 0.22s ease-out;
}


@keyframes hit-horizontal {
    0% {
        transform: scaleX(1) scaleY(1);
    }

    35% {
        transform: scaleX(0.7) scaleY(1.2);
    }

    70% {
        transform: scaleX(1.08) scaleY(0.95);
    }

    100% {
        transform: scaleX(1) scaleY(1);
    }
}


@keyframes hit-vertical {
    0% {
        transform: scaleX(1) scaleY(1);
    }

    35% {
        transform: scaleX(1.2) scaleY(0.7);
    }

    70% {
        transform: scaleX(0.95) scaleY(1.08);
    }

    100% {
        transform: scaleX(1) scaleY(1);
    }
}